VITE_SUPABASE_URL=https://mllrjejqyddgaxxtjsqf.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_GHL_CLIENT_ID=
VITE_GHL_CLIENT_SECRET=
VITE_GHL_LOCATION_ID=hv6oU9BWN5BzCTe0dEMl
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_...
VITE_STRIPE_BASIC_PRICE_ID=price_...
VITE_STRIPE_BUSINESS_PRICE_ID=price_...
VITE_STRIPE_PROFESSIONAL_PRICE_ID=price_...
